<% @confessions.each do |confession| %>
  <p><%= link_to confession.text, confession_path(confession) %> (<%= confession.category.name %>)</p>
<% end %>

<div class='post-confession'>
<%= form_for :confession, html: {class: 'form'}, method: 'post', url: {action: 'create'} do |f| %>
  <%= f.text_field :text, placeholder: "What's up?" %>
  <%= f.select(:category_id) do %>
    <% @categories.each do |category| %>
      <%= content_tag(:option, category.name, value: category.id) %>
    <% end %>
  <% end %>
  <%= f.submit "'Fess" %>
<% end %>
</div>