<div class='confession single'>
  <p><%= @confession.text %></p>
  <div class='bottom'>
    <p class=<%= @confession.category.name %>><%= @confession.category.name %></p>
    <div class='buttons'>
      <%= link_to("✎", edit_confession_path(@confession), :class => "button") %>
      <%= button_to("✕", @confession, method: :delete, :class=>"button") %>
    </div>
  </div>
</div>

