<% @confessions.each do |confession| %>
  <div class="confession" style=<%= "position:fixed;top:#{rand(1..70)}vh;left:#{rand(1..90) + 10}vh;width:300px;max-height:400px;transform:rotate(#{rand(-45..45)}deg)"%> >
    <p class=<%= confession.category.name %>><%= link_to confession.text, confession_path(confession) %></p>
  </div>
<% end %>

</main>
<footer>
  <div class='post-confession'>
  <%= form_for :confession, html: {class: 'form'}, method: 'post', url: '/confessions' do |f| %>
    <%= f.select(:category_id) do %>
      <% @categories.each do |category| %>
        <%= content_tag(:option, category.name, value: category.id) %>
      <% end %>
    <% end %>
    <%= f.text_field :text, placeholder: "I have a confession to make..." %>
    <%= f.submit "'Fess" %>
  <% end %>
  </div>
</footer>